<h1>Welcome to Braintree Subscription</h1>

<h2>Available Plans</h2>

<ul>
  <% @plans.each do |plan| %>
      <li>
        <p><%= plan.name %></p>
        <p><%= plan.price %>€ per month</p>
        <%= button_to "Subscribe", subscriptions_path(plan_id: plan.id) %>
      </li>
  <% end %>
</ul>